body, html {
    height: 100%;
    margin: 0;
}

.bg {
    /* The image used */
    background-image: url("E:\Personal Project\LinkinPark\LinkinPark\images\lp.jpg");
	

    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.container-fluid
{
	background-color:black;
	height:100%;
	width:100%;
	position:absolute;
}

#bi
{
	margin-top:100px;
	position:absolute;
}
